<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.19" targetFramework="net48" />
  <package id="HarmonyX" version="2.10.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour" version="22.5.1.1" targetFramework="net48" />
  <package id="MonoMod.Utils" version="22.5.1.1" targetFramework="net48" />
  <package id="Outward.GameLibs" version="2022.5.18-r.0" targetFramework="net48" />
  <package id="UnityEngine.Modules" version="2022.2.0-alpha.13" targetFramework="net48" developmentDependency="true" />
</packages>